[Desktop Entry]
Name=Download recordings
Comment=Download all camera recordings to device
Exec=wget http://localhost/recordings/ --quiet
Icon=/home/pi/Raspisecurity/icons/download.png
Terminal=false
Type=Application
Categories=Utility;
